<div class="container">
    <div class="main-text">
        <h1><span class="blue">MOTORINI</span>, zde se svět točí okolo aut</h1>
        <p>Stránka zaměřena nejen pro fanoušky aut, ale je i pro klasické uživatele</p>
    </div>
    <div class="image">
        <img src="../../assets/6211987.jpg" style="height: 700px; width: auto">
    </div>
</div>

<div class="line">

</div>

<div style="height: 500px" class="photoHome">
<p style="font-size: 35px; margin-top: 90px; color: #599FFE; margin-left: 900px">ČLÁNKY FÓRUM A MNOHEM VÍC!</p>
  <p style="font-size: 15px; color: #599FFE; margin-left: 900px">Tato webová stránka je maturitní projekt a zabýva se vším kolem aut.<br> Naleznete zde vše od článku <br>
    po ověření VIN kódu vašeho auta
  </p>
</div>

<body>
    <div id="divbody">
        <div id="B">
            <h3>Nejnovější články</h3>
        </div>
        <div id="C">
            <h3>Oblíbené</h3>

            <li *ngFor="let clanek of clanky"><a href="#A10">{{ clanek.Nadpis }}</a></li>

        </div>

      <div   class="clanekContainer" style="border-bottom: 2px solid #e7e7e7;" *ngFor="let clanek of clanky">
        <div class="nadpisClanku">
          {{ clanek.Nadpis }}
        </div>
        <div class="obsahClanku">
          {{ clanek.Obsah }}
        </div>
      </div>



    </div>
</body>
