<form (ngSubmit)="onSignup(emailSingup.value, usernameSingup.value, passwordSingup.value, passwordSingup2.value)">
  <div class="container">
    <h1>Registrace</h1>
    <p>Vyplňte údaje pro registraci.</p>
    <hr>

    <label for="email"><b>Email</b></label>
    <input type="text" #emailSingup placeholder="Email" name="email" id="email" required>

    <label for="email"><b>Uživatelské jméno</b></label>
    <input type="text" #usernameSingup placeholder="Username" name="usernm" id="username" required>

    <label for="psw"><b>Heslo</b></label>
    <input type="password" #passwordSingup placeholder="Heslo" name="psw" id="psw" required>

    <label for="psw-repeat"><b>Ověření hesla</b></label>
    <input  type="password" #passwordSingup2 placeholder="Potvrdit heslo" name="psw-repeat" id="psw-repeat" required>
    <hr>

    <button  style="background-color: #4C98FE" type="submit" class="registerbtn">Založit účet</button>
  </div>

  <div class="container signin">
    <p>Máte již účet? <a href="login">PŘIHLÁSIT</a>.</p>
  </div>
</form>
